<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temperature Converter</title>
</head>
<body>
    <h1>Celsius to Fahrenheit</h1>
    <form method="post" action="/convert">
        <label>Enter Celsius temperature:</label>
        <input name="celsius">
        <input type="submit" value="Convert to °F">
    </form>

    {% if result %}
        <h2>{{ result }}</h2>
    {% endif %}

    <hr>

    <h1>Fahrenheit to Celsius</h1>
    <form method="post" action="/convert_f">
        <label>Enter Fahrenheit temperature:</label>
        <input name="fahrenheit">
        <input type="submit" value="Convert to °C">
    </form>

    {% if result_f %}
        <h2>{{ result_f }}</h2>
    {% endif %}
</body>
</html>
